<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.test.arduinosocket">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_app_main"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".notification.NotificationEventHandler" />

        <activity
            android:name=".activity.RecorderActivity"
            android:label="Recorder"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".activity.AsyncListenActivity"
            android:icon="@drawable/ic_app_main"
            android:label="@string/title_activity_async_listen"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.DevicePreferencesActivity"
            android:label="Settings"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".activity.GeneralPreferencesActivity"
            android:label="Settings"
            android:theme="@style/AppTheme.ActionBar" />
        <activity
            android:name=".activity.NavigationDrawerActivity"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.MessageViewActivity"
            android:label="View Messages"
            android:theme="@style/AppTheme.ActionBar" />

        <receiver
            android:name=".notification.NotificationReceiver"
            android:enabled="true"
            android:exported="true"
            android:label="NotificationReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.net.wifi.STATE_CHANGE" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.test.arduinosocket.ACTIVITY_STARTED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.LockManagementActivity"
            android:theme="@style/AppTheme.ActionBar"
            android:label="@string/title_activity_lock_management"/>
        <activity
            android:name=".activity.CallNotificationActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Bell Ringing Notification"
            android:theme="@style/AppTheme.NoActionBar"
            android:showOnLockScreen="true"/>

    </application>

</manifest>